/* Header */

.logo {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2rem;
}

.navigation {
  color: white;
  margin-left: auto;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    list-style: none;
  }
}
