.wrapper {
  width: 100%;
  display: flex;
  padding: 0 1.5rem;
}

//Desktop
@media (min-width: 1300px) {
  .wrapper {
    padding: 0 5rem;
  }
}

//Flex direction
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

//Alignments

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: left;
}
