.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.yellow {
  background-color: #fdcd07;
}

.white {
  background-color: rgb(255, 255, 255);
}

.grey {
  background-color: #f0f0f0;
}

.space-evenly {
  justify-content: space-evenly;
}
