.content {
  position: relative;
}

.bookdivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
  }

  .white {
    fill: #ffffff;
  }

  .grey {
    fill: #f0f0f0;
  }
}
