.button {
  border: none;
  padding: 0.8rem;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

//Variants
.primary {
  background-color: white;
  color: #353535;
}

.outline {
  background-color: transparent;
  border: 1px solid #e2055e;
  color: #e2055e;
  &:hover,
  :focus {
    background: #ffe5ef;
  }
}

//Sizes

.lg {
  width: 200px;
}

.md {
  width: 115px;
}

.xl {
  width: 100%;
}
