.button {
  border: none;
  padding: 0.8rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
  cursor: pointer;
}

//Sizes

.lg {
  width: 200px;
}

.md {
  width: 115px;
}

// Colors

.white {
  background-color: white;
}
