.container {
  width: 100%;
}

//Default color
.white {
  background-color: white;
}

//Variants

.yellow {
  background-color: #fdcd07;
}

.grey {
  background-color: #f0f0f0;
}

.pink {
  background-color: #e2055e;
}

.blue {
  background-color: #2c9eff;
}
