.presentation {
  height: 100%;
  flex: 0.5;

  h1 {
    color: white;
    font-size: 4rem;
  }

  p {
    color: white;
    line-height: 1.6rem;
  }

  @media screen and (max-width: 768px) {
    flex: 1;
  }
}

.picture {
  background-color: brown;
  height: 100%;
  flex: 0.5;
}
