.presentation {
  height: 100%;
  flex: 0.5;
  color: #353561;
  padding: 0 4rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 1rem;
    max-width: 60%;
  }

  p {
    line-height: 1.6rem;
    max-width: 60%;
  }

  @media screen and (max-width: 768px) {
    flex: 1;
    text-align: center;
  }
}

.picture {
  height: 100%;
  width: 100%;
  flex: 0.5;
}
