.herowrapper {
  margin-bottom: 1.5rem;

  .intro {
    color: #e2055e;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 3.5rem;
      font-weight: 700;
    }

    p {
      line-height: 1.8rem;
      font-size: 1.2rem;
      color: #5a5a5a;
      font-family: 'Montserrat', sans-serif;
    }

    .firstparagraph {
      margin-bottom: 0;
    }

    .secondparagraph {
      margin-top: 0;
    }
  }

  .buttonwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
  }
}
