.herowrapper {
  margin-bottom: 1.5rem;

  .intro {
    color: #e2055e;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 3.5rem;
      font-weight: 700;
    }

    p {
      line-height: 1.8rem;
      font-size: 1.2rem;
      color: #5a5a5a;
      font-family: 'Montserrat', sans-serif;
    }

    .firstparagraph {
      margin-bottom: 0;
    }

    .secondparagraph {
      margin-top: 0;
    }
  }

  .buttonwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
  }

  //Desktop
  @media (min-width: 1300px) {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    justify-content: space-between;

    .intro {
      text-align: left;
      flex: 0.6;
      justify-content: end;
    }

    .img {
      flex: 0.4;
    }

    .buttonwrapper {
      justify-content: left;
    }
  }
}
