.herowrapper {
  display: flex;
  flex-direction: row;
  min-width: 80%;
  align-items: center;
  height: 70%;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    color: #353561;

    h1 {
      font-size: 4rem;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 1rem;
      max-width: 60%;
    }

    p {
      max-width: 400px;
    }

    @media screen and (max-width: 768px) {
      h2 {
        max-width: 100%;
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    }
  }
}
