.title {
  color: white;
  background-color: #2c9eff;
  text-align: center;
  clip-path: polygon(0 0, 100% 8%, 100% 87%, 0 94%);
  padding: 1rem 1rem;
  margin-top: -1rem;
  // margin-bottom: 14rem;
}

.logo {
  font-family: 'Dela Gothic One', cursive;
  color: #525252;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  color: #ffffff;
}

.email {
  color: white;
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
}

.copyright {
  color: rgb(189, 187, 187);
  text-align: center;
  line-height: 1.7rem;
  font-size: 0.8rem;
}
