.title {
  color: white;
  background-color: #2c9eff;
  text-align: center;
  clip-path: polygon(0 0, 100% 8%, 100% 87%, 0 94%);
  padding: 1rem 1rem;
  margin-top: -1rem;
  // margin-bottom: 14rem;
}
