.sectiontitle {
  font-size: 3rem;
  margin: 0;
  color: #353535;
  margin-top: 3.5rem;
}

.buttonwrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 2rem 3rem 2rem;
}

.sectionsubtitle {
  color: #e2055e;
  font-size: 1rem;
  margin-top: 0.4rem;
  text-transform: uppercase;
}
