.contentwrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.imgbookcover {
  padding-top: 1rem;

  .bookimage {
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(88 88 88 / 20%);
  }
}

.royalsocietylogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;

  .winnertext {
    margin: 0 0 0.2rem 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.buttonwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 3rem 0;
  width: 90%;
}
