.title {
  margin-bottom: 0rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2.3rem;
}

.awardyear {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.spanpink {
  color: #e00061;
}

.spanblue {
  color: #3999e6;
}
